<div class="cars-page">
  <% @cars.each do |car| %>
    <!-- Wrap the entire car card in a link -->
    <%= link_to car_path(car), class: "car-card-link" do %>
      <div class="car-card">
        <div class="car-header">
          <h2 class="car-brand"><%= car.brand %></h2>
          <h3 class="car-model"><%= car.model %></h3>
          <p class="car-timestamp"><%= car.created_at.strftime("%a %b %d at %I:%M %p") %></p>
        </div>
        <div class="car-image">
          <% if car.image.present? %>
            <%= image_tag car.image, alt: "#{car.brand} #{car.model}" %>
          <% else %>
            <%= image_tag "placeholder-car.jpg", alt: "#{car.brand} #{car.model}" %>
          <% end %>
        </div>
        <div class="car-footer">
          <button class="comment-btn">
            <i class="fas fa-comment"></i> Comment
          </button>
          <span class="badge"><%= "Zaki007" %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
